WCF Simple Feature Server/Simple Feature Service/Simple Feature Service Testing/Service References/FeatureService/FeatureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GIS.Datasource.Feature.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GIS.Datasource.Feature.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFeatureLayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeatureLayer" nillable="true" type="tns:FeatureLayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeatureLayer" nillable="true" type="tns:ArrayOfFeatureLayer" />
  <xs:complexType name="FeatureLayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeatureLayer" nillable="true" type="tns:FeatureLayer" />
</xs:schema>