WCF Simple Feature Server/Simple Feature Service/Simple Feature Service Testing/Service References/FeatureService/FeatureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GIS.Datasources.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GIS.Datasources.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/FeatureServer/FeatureService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/FeatureServer/FeatureService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GIS.Datasources.Geometry" />
  <xs:complexType name="ArrayOfFeatureLayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeatureLayer" nillable="true" type="tns:FeatureLayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeatureLayer" nillable="true" type="tns:ArrayOfFeatureLayer" />
  <xs:complexType name="FeatureLayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeatureLayer" nillable="true" type="tns:FeatureLayer" />
  <xs:complexType name="ArrayOfFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" nillable="true" type="tns:Feature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeature" nillable="true" type="tns:ArrayOfFeature" />
  <xs:complexType name="Feature">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributes" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GIS.Datasources.Geometry" minOccurs="0" name="geometry" nillable="true" type="q2:DefaultGeometry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feature" nillable="true" type="tns:Feature" />
</xs:schema>