WCF Sighting Service/Sighting Service Testing/Service References/Web/SightingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SightingDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SightingDevice" nillable="true" type="tns:SightingDevice" />
  <xs:complexType name="Sighting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeometryAsWellKnownText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sighting" nillable="true" type="tns:Sighting" />
  <xs:complexType name="ArrayOfSightingDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SightingDevice" nillable="true" type="tns:SightingDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSightingDevice" nillable="true" type="tns:ArrayOfSightingDevice" />
</xs:schema>