WCF Sighting Service/Sighting Service Testing/Service References/Web/SightingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://h2381303.stratoserver.net:8081/SightingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" />
  <xs:import schemaLocation="http://h2381303.stratoserver.net:8081/SightingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" minOccurs="0" name="CreateDeviceResult" nillable="true" type="q1:SightingDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSighting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSightingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" minOccurs="0" name="CreateSightingResult" nillable="true" type="q2:Sighting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sighting.Services.Data" minOccurs="0" name="QueryAllDevicesResult" nillable="true" type="q3:ArrayOfSightingDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllSightings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllSightingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QueryAllSightingsResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>